/* 文字换行 */

html {
  /*强制不换行*/
  white-space: nowrap;

  /*自动换行*/
  word-wrap: break-word;
  word-break: normal;

  /*强制英文单词断行*/
  word-break: break-all;

  /* 两端对齐 */
  text-align: justify;
  text-justify: inter-ideogra;

  /* 鼠标不允许点击 */
  cursor: not-allowed;

  /* 阻止默认事件 */
  pointer-events: none;

  /* 去掉输入框聚焦时候的白色背景 */
  -webkit-user-modify: read-write-plaintext-only;

  /* input:focus时input不随软键盘升起而抬高的情况 */
  :focus {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
  }

  /* IOS iframe 滚动 滚动回弹特效 */
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  /* 禁止选中文本 */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 去掉Webkit(chrome)浏览器中input(文本框)或textarea的黄色焦点框 */
input,
button,
select,
textarea {
  outline: none;
}
textarea {
  resize: none;
}

/* 文字过多后显示省略号 */
.ellipsis,
.ell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  overflow: hidden;
}

/* 取消a链接的黄色边框 */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* placeholder占位符颜色自定义 */
input:-moz-placeholder {
  color: #369;
}
::-webkit-input-placeholder {
  color: #369;
}

/* HTML5手机浏览直接给一个号码打电话，发短信 */
<a href="tel:15222222222">移动WEB页面JS一键拨打号码咨询功能</a>
<a href="sms:15222222222">移动WEB页面JS一键发送短信咨询功能</a>
<!--移动web页面自动探测电话号码-->
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-rim-auto-match" content="none">

/* CSS判断横屏竖屏 */
@media screen and (orientation: portrait) {
  /*竖屏 css*/
}
@media screen and (orientation: landscape) {
  /*横屏 css*/
}

/* 媒体查询 */
@media all and (min-width: 320px) {
  body {
    background-color: blue;
  }
}

/* css增加底部安全距离 刘海屏 */

/* 
safe-area-inset-left：安全区域距离左边边界距离
safe-area-inset-right：安全区域距离右边边界距离
safe-area-inset-top：安全区域距离顶部边界距离
safe-area-inset-bottom：安全区域距离底部边界距离
*/

/* 当 viewport-fit=contain 时 env() 是不起作用的，必须要配合 viewport-fit=cover 使用。对于不支持env() 的浏览器，浏览器将会忽略它。 */
/* 只有设置了 viewport-fit=cover，才能使用 env()。 */
/* <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> */
padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
/* 注意：env() 跟 constant() 需要同时存在，而且顺序不能换。 */

html {
  height: calc(60px (假设值) + constant(safe-area-inset-bottom));
  height: calc(60px (假设值) + env(safe-area-inset-bottom));
}
